@import "src/@fuse/scss/fuse";

chat-contact-sidenav {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    mat-toolbar {

        .toolbar-bottom {
            height: 180px;
        }
        .user-name {
            border: none;
            background-color: transparent;
            text-align: center;
            color: #fff;
        }
    }
}
