<div id="mail-confirm" fxLayout="column">

    <div id="mail-confirm-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="mail-confirm-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <mat-icon class="mat-accent s-96">email</mat-icon>
            </div>

            <div *ngIf="!mailToSendForgot" class="title">Confirm your email address!</div>
            <div *ngIf="!mailToSendRegister" class="title">Please, check your email address!</div>
            <div class="subtitle">
                <p>
                    A <span *ngIf="!mailToSendForgot">confirmation </span>e-mail has been sent to
                    <b>{{mailToSendForgot?mailToSendForgot:mailToSendRegister}}</b>.
                </p>
                <p>
                    <span *ngIf="!mailToSendForgot">Check your inbox and click on the <b> "Confirm my email" </b> link
                        to confirm your email address.
                    </span>
                    <span *ngIf="!mailToSendRegister">Check your inbox and click the <b> "Reset my password" </b>button
                        to reset your password
                    </span>
                </p>
            </div>
            <div class="message">
                <a class="link" [routerLink]="'/account/login'">Go back to login page</a>
            </div>
        </div>

    </div>

</div>