@import "src/@fuse/scss/fuse";

chat-user-sidenav {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    mat-toolbar {
        .toolbar-bottom {
            height: 180px;
        }
        .user-name {
            border: none;
            background-color: transparent;
            text-align: center;
            color: #fff;
        }
    }
}
div[contenteditable="true"] {
    box-shadow: inset 0px 1px 4px #666;
}

.input--transparent {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: width 0.3s;
}
.line {
    height: 2px;
    width: 0px;
    position: absolute;
    background-color: black;
    display: inline-block;
    transition: 0.3s width ease-in-out;
    position: relative;
    top: -10px;
}
input:focus + .line {
    width: 100%;
}
