<div id="login" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="login-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">

        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the Messenger!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <img src="assets/images/logos/logo.png">
        </div>

    </div>

    <div id="login-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="login-form">


            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form name="loginForm" [formGroup]="loginForm" (submit)="onLogin()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="userName">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('userName').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('userName').hasError('required') &&
                                loginForm.get('userName').hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('userName').hasError('minlength')">
                        UserName field must be at least 6 characters
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" (paste)="onPaste($event)">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="loginForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('password').hasError('pattern')">
                        Password field must be at least 8 characters including upper case, lower case and numbers
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">
                    <mat-checkbox [(ngModel)]="checkRemember" [ngModelOptions]="{standalone: true}" class="remember-me"
                        aria-label="Remember Me">
                        Remember Me
                    </mat-checkbox>
                    <a class="forgot-password" [routerLink]="'/account/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" type="submit" aria-label="LOGIN"
                    [disabled]="loginForm.invalid">
                    LOGIN
                </button>
            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>

            <div class="innerLogin" fxLayout="column" fxLayoutAlign="start center">

                <button mat-raised-button class="google" (click)="signinWithGoogle()">
                    Log in with Google
                </button>

                <button mat-raised-button class="facebook" (click)="signinWithFB()">
                    Log in with Facebook
                </button>

            </div>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <div class="text">Don't have an account?</div>
                <a class="link" [routerLink]="'/account/register'">Create an account</a>
            </div>
        </div>
    </div>
</div>