@import "src/@fuse/scss/fuse";

reset-password {

    #reset-password {
        width: 100%;
        overflow: hidden;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: stretch flex-start;
        align-items: stretch;
        #reset-password-intro {
            padding: 128px;
            flex: 1 1 0%;
            box-sizing: border-box;
            color: #fff;
            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }

            .logo {
                width: 128px;
                margin-bottom: 32px;
            }

            .title {
                font-size: 42px;
                font-weight: 300;
                line-height: 1;
            }

            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
            }
        }

        #reset-password-form-wrapper {
            width: 400px;
            min-width: 400px;
            max-width: 400px;
            overflow: auto;
            background: #fff;
            position: relative;
            -webkit-overflow-scrolling: touch;

            @include mat-elevation(16);

            @include media-breakpoint('sm') {
                width: 360px;
                min-width: 360px;
                max-width: 360px;
            }

            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            #reset-password-form {
                padding: 128px 48px 48px 48px;

                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 21px;
                }

                .description {
                    padding-top: 8px;
                }

                form {
                    width: 100%;
                    padding-top: 32px;

                    mat-form-field {
                        width: 100%;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                    .err-feedback{
                        flex-direction: column;
                        box-sizing: border-box;
                        display: flex;
                        place-content: center;
                        align-items: center;
                    }
                }

                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}
