<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">

        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Welcome to the Messenger!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            <img src="assets/images/logos/logo.png">
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">

            <div class="title">CREATE AN ACCOUNT</div>

            <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="onCreateAnAccount()" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="registerModel.displayName">
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-error *ngIf="registerForm.get('name').hasError('required')">
                        Name is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('name').hasError('minlength')">
                        Name must be at least 6 characters
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('name').hasError('maxlength')">
                        Name can't be over than 120 characters
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('name').hasError('pattern')">
                        Name can't be have many spaces
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" [(ngModel)]="registerModel.email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="registerForm.get('email').hasError('required')">
                        Email is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('email').hasError('pattern')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" [(ngModel)]="registerModel.password"
                        (paste)="onPaste($event)">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="registerForm.get('password').hasError('pattern')">
                        Password must be at least 8 characters and no more than 40 characters including upper case,
                        lower case and numbers.
                    </mat-error>

                </mat-form-field>
                <br />
                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm" (paste)="onPaste($event)">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                                       registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <div class="terms" fxLayout="row" fxLayoutAlign="center center">
                    <mat-checkbox [(ngModel)]="isAcceptTerms" [ngModelOptions]="{standalone: true}" name="terms"
                        aria-label="Accept" required>
                        <span>Accept</span>
                    </mat-checkbox>
                    <a href="#" target="_blank">terms and conditions</a>
                </div>
                <mat-error class="email-already-axist" *ngIf="emailErr">
                    Your email already exist.
                </mat-error>
                <button type="submit" mat-raised-button color="accent" class="submit-button"
                    aria-label="CREATE AN ACCOUNT" [disabled]="registerForm.invalid || !isAcceptTerms">
                    CREATE AN ACCOUNT
                </button>
            </form>
            <p *ngIf="isLoading" class="spinner" fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner color="accent" [diameter]="20"></mat-spinner>
            </p>
            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Already have an account?</span>
                <a class="link" [routerLink]="'/account/login'">Login</a>
            </div>
        </div>
    </div>
</div>